<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dreamteam.softwareengineering.libraryinventorysystem">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--<activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>-->
        <activity android:name=".EmployeeCheckOut" />
        <activity android:name=".EmployeeWelcome" />
        <activity
            android:name=".Login"
            android:label="@string/title_activity_login" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EmployeeRegister" />
        <activity android:name=".employeeCheckIn" />
        <activity android:name=".employeeViewInventory" />
        <activity android:name=".EmployeeUserOptions" />
        <activity android:name=".EmployeeEditUser" />
        <activity android:name=".EmployeeAddUser" />
        <activity android:name=".EmployeeInventoryOptions" />
        <activity android:name=".EmployeeInventoryAdd" />
        <activity android:name=".EmployeeInventoryDelete" />
        <activity android:name=".EmployeeRecoverPassword" />
        <activity android:name=".EmployeeViewCustomer" />
        <activity android:name=".UserBooksCheckedOut" />
    </application>

</manifest>